{{ define "main" }}

<section class="container search-page">

  <h1>{{ .Title }}</h1>

  <div id="search"></div>

</section>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<script>
window.addEventListener('DOMContentLoaded', () => {
  new PagefindUI({
    element: "#search",
    showSubResults: true,
    translations: {
      placeholder: "{{ if eq .Lang \"hr\" }}Pretraži recepte...{{ else }}Search recipes...{{ end }}"
    }
  });
});
</script>

{{ end }}
