<nav>

  <!-- POČETNA -->
  <a href="{{ .Site.BaseURL }}">
    {{ if eq .Lang "hr" }}Početna{{ else }}Home{{ end }}
  </a>

  <!-- RECEPTI -->
 <a href="{{ if eq .Lang "hr" }}{{ printf "%srecepti/" .Site.BaseURL }}{{ else }}{{ "recipes" | relLangURL }}{{ end }}">
  {{ if eq .Lang "hr" }}Recepti{{ else }}Recipes{{ end }}
</a>

  {{ if eq .Lang "hr" }}
    <a href="{{ "recepti/slatko" | relLangURL }}">Slatko</a>
    <a href="{{ "recepti/slano" | relLangURL }}">Slano</a>
    <a href="{{ "recepti/tradicionalno" | relLangURL }}">Tradicionalno</a>
    <a href="{{ "recepti/strano" | relLangURL }}">Strano</a>
    <a href="{{ "recepti/savjeti" | relLangURL }}">Savjeti</a>
  {{ else }}
    <a href="{{ "recipes/sweet" | relLangURL }}">Sweet</a>
    <a href="{{ "recipes/savory" | relLangURL }}">Savory</a>
    <a href="{{ "recipes/traditional" | relLangURL }}">Traditional</a>
    <a href="{{ "recipes/international" | relLangURL }}">International</a>
    <a href="{{ "recipes/kitchen-tips" | relLangURL }}">Tips</a>
  {{ end }}

</nav>
