<section class="our-projects">

  <h2>Our Projects</h2>

  <div class="projects-carousel">

    <!-- MetaAdvisor -->
    <a href="https://metaadvisor.eu/" target="_blank" class="project-card">

     
      <img
        src="/koo-ham.github.io/images/projects/MetaAdvisor.eu.png"
        alt="MetaAdvisor"
      >
      
      <div class="project-info">
        <h3>MetaAdvisor</h3>
        <p>AI, crypto & tech insights</p>
      </div>

    </a>

    <!-- Far-Go -->
    <a href="https://far-go.com/" target="_blank" class="project-card">

      <img
        src="/koo-ham.github.io/images/projects/Far-go-best-holiday-prices.png"
        alt="Far-Go"
      >

      <div class="project-info">
        <h3>Far-Go</h3>
        <p>Travel inspiration & destinations</p>
      </div>

    </a>

    <!-- Water Exporter -->
    <a href="#" class="project-card coming-soon">

      <img
        src="/koo-ham.github.io/images/projects/water-exporter.jpg"
        alt="Water Exporter"
      >

      <div class="project-info">
        <h3>Water Exporter</h3>
        <p>Water, filters & survival systems</p>
      </div>

    </a>

  </div>

</section>
